.search-container{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search-box{
    padding: 8px 15px;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    width: 250px;
    background-color: #a592f2;
    color: aliceblue;
}

.search-box::placeholder{
    color: aliceblue;
}

.search-box:focus {
    outline: none;
    border: none;
}